<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-validation-step-heading" jhiTranslate="senErhApp.validationStep.home.createOrEditLabel">Create or edit a Validation Step</h2>

            <div>
                <jhi-alert-error></jhi-alert-error>

                <div class="form-group" [hidden]="!editForm.get('id')!.value">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id" readonly />
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="senErhApp.validationStep.step" for="field_step">Step</label>
                    <input type="number" class="form-control" name="step" id="field_step"
                           formControlName="step"/>
                    <div *ngIf="editForm.get('step')!.invalid && (editForm.get('step')!.dirty || editForm.get('step')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('step')?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                        <small class="form-text text-danger"
                            [hidden]="!editForm.get('step')?.errors?.number" jhiTranslate="entity.validation.number">
                            This field should be a number.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="senErhApp.validationStep.conge" for="field_conge">Conge</label>
                    <select class="form-control" id="field_conge" name="conge" formControlName="conge">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="congeOption.id === editForm.get('conge')!.value?.id ? editForm.get('conge')!.value : congeOption" *ngFor="let congeOption of conges; trackBy: trackById">{{ congeOption.id }}</option>
                    </select>
                </div>
            </div>

            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary" (click)="previousState()">
                    <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>

                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
